.weather-container {
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  max-width: 980px;
}

.forecast {
  display: flex;
  justify-content: space-around;
  max-width: 1300px;
  flex-wrap: wrap;
}

.day-current {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
  border-radius: 16px 80% 16px 16px;
  max-width: 800px;
  div {
    flex: 1;
    min-width: 250px;
  }
  h6 {
    border: 0;
    font-size: 14px;
  }
}

.day__date {
  width: 100%;
}

.day__primary {
  font-size: 22px;
}

.day__secondary {
  align-self: flex-end;
  margin-top: 20px;
}

.day-forecast {
  padding: 10px;
  margin: 10px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1;
  max-width: 400px;
}

.hour {
  padding: 10px;
  margin: 10px;
}

.row-v-align {
  display: flex;
  align-items: center;
}

.hour__weather {
  font-weight: bold;
  margin-bottom: 10px;
}

.day__weather {
  font-weight: bold;
  margin-bottom: 10px;
}

.icon {
  max-width: 25px;
  height: 30px;
}
