.weather-container {
  width: 100%;
  font-size: 16px;
}

.forecast {
  display: flex;
  justify-content: space-around;
  max-width: 1300px;
}

.day-current {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.day__date {
  width: 100%;
}

.hour {
  padding: 10px;
  margin: 10px;
}
