$color-black: #222e;
$color-white: #fffe;
$color-black-alpha: #0006;
$color-white-alpha: #fff4;
$color-gray-light: rgba($color-white, 0.15);
$color-gray-dark: rgba($color-black, 0.15);
$light-gradient: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
$dark-gradient: linear-gradient(315deg, #060370 0%, #300c03 74%);
$light-border: 1px solid #ddd5;
$dark-border: 1px solid #2225;
$dark-shadow: 5px 6px 10px 0px #2221, -1px -1px 20px 0px #2221;
$light-shadow: 5px 6px 10px 0px #ddd1, -1px -1px 20px 0px #ddd1;

:root {
  --gradient-page-background: #{$light-gradient};
  --color-text: #{$color-black};
  --card-background: #{$color-white-alpha};
  --card-border: #{$light-border};
  --card-shadow: #{$dark-shadow};
  --timer-border-color: #{$color-black-alpha};
}

body {
  margin: 0;
  padding: 0;
}

.dark {
  --gradient-page-background: #{$dark-gradient};
  --color-text: #{$color-white};
  --card-background: #{$color-black-alpha};
  --card-border: #{$dark-border};
  --card-shadow: #{$light-shadow};
  --timer-border-color: #{$color-white-alpha};
}

@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7")
      format("svg");
}

body {
  background-color: #5598b9;
  font-size: 30px;
  font-family: "Righteous";
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    .timer_container {
      background: var(--card-background);
      border-radius: 50px;
      color: var(--color-text);
      padding: 15px;
      border: 7px solid var(--timer-border-color);
      min-width: 300px;
      max-width: 400px;
      text-align: center;
    }
    .main-title {
      font-size: 50px;
      margin-bottom: 20px;
    }

    div {
      position: relative;
    }

    input {
      width: 6.5em;
      font-size: inherit;
      font-family: inherit;
      background-color: transparent;
      border: 1px solid transparent;
      border-bottom-color: hsla(13, 98%, 49%, 0.2);
      text-align: center;
      color: var(--color-text);
    }

    input:focus {
      outline: none;
    }

    input::placeholder {
      color: #a50d0d;
    }

    span {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100%;
      height: 1px;
      opacity: 0;
      background-color: #f53803;
      transform-origin: center;
      transform: translate(-50%, 0) scaleX(0);
      transition: all 0.3s ease;
    }

    input:focus ~ span {
      transform: translate(-50%, 0) scaleX(1);
      opacity: 1;
    }
    .length-control {
      width: 250px;
    }
    button {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
    }
    .btn-level,
    .length-control {
      display: inline-block;
      font-size: 25pt;
      .btn-level:nth-child(3) {
        width: 40px;
      }
    }
    .timer {
      border-width: 7px;
      border-color: hsla(13, 98%, 49%, 0.2);
      border-style: solid;
      margin: 20px auto 10px auto;
      border-radius: 50px;
      padding: 15px 15px 0 15px;
      #time-left {
        font-family: digital;
        font-size: 80px;
      }
      .timer-control button:active {
        color: #13353a;
      }
    }
  }
}

h6 {
  margin-top: 0;
  font-size: 12px;
  border-bottom: 1px solid #8888;
}

svg {
  stroke: var(--color-text);
}

.app {
  background-image: var(--gradient-page-background);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: var(--card-border);
  border-radius: 16px;
  background: var(--card-background);
  backdrop-filter: blur(2px) saturate(140%);
  box-shadow: var(--card-shadow);
}

.full-w {
  width: 100%;
}

.no-events {
  pointer-events: none;
}
